{% extends "base.html" %}

{% block title %}SGE - Deletar fornecedor{% endblock %}

{% block content %}
  <div class='container mt-4'>
    <h3 class='display-6'>Deletar fornecedor</h3>

    <div class='card'>
      <div class='card-body'>
        <p>Tem certeza que deseja deletar a fornecedor <strong>{{ supplier.name }}</strong>?</p>

        <form method='post' class='form'>
          {% csrf_token %}
          <button type='submit' class='btn btn-danger'>Deletar</button>
        </form>

      </div>
    </div>
    <a href='{% url "supplier_list" %}' class='btn btn-info mt-3'>Cancelar e Voltar</a>
  </div>
{% endblock %}