{% extends "base.html" %}

{% block title %}SGE - Detalhes da saída{% endblock %}

{% block content %}
  <div class='container mt-4'>
    <h3 class='display-6'>Detalhes da saída</h3>

    <div class='card'>
      <div class='card-body'>

        <h3 class='card-title'>{{ outflow.product }}</h3>
        <p class='card-text'>Quantidade: <strong> {{ outflow.quantity }}</strong></p>
        <p class='card-text'>{{ outflow.description }}</p>


      </div>

    </div>
    <a href='{% url "outflow_list" %}' class='btn btn-info mt-3'>Cancelar e Voltar para lista de saídas</a>
  </div>
{% endblock %}