{%extends "base.html" %}

{% block title %}SGE - Registrar saída{% endblock %}

{% block content %}
  <div class='container mt-4'>
    <h3 class='display-6'>Registrar saída</h3>

    <div class='card'>
      <div class='card-body'>

        <form method='post' class='form'>
          {% csrf_token %}
          {{ form.as_p }}
          <button type='submit' class='btn btn-primary'>Registrar Saída</button>
        </form>

      </div>
    </div>
    <a href='{% url "outflow_list" %}' class='btn btn-info mt-3'>Cancelar e Voltar para lista de saída</a>
  </div>
{% endblock %}