{% extends "base.html" %}

{% block title %}SGE - Detalhes da entrada{% endblock %}

{% block content %}
  <div class='container mt-4'>
    <h3 class='display-6'>Detalhes da entrada</h3>

    <div class='card'>
      <div class='card-body'>

        <h3 class='card-title'>{{ inflow.product }}</h3>
        <p class='card-text'>Fornecedor: <strong> {{ inflow.supplier }}</strong></p>
        <p class='card-text'>Quantidade: <strong> {{ inflow.quantity }}</strong></p>
        <p class='card-text'>{{ inflow.description }}</p>


      </div>

    </div>
    <a href='{% url "inflow_list" %}' class='btn btn-info mt-3'>Cancelar e Voltar para lista de entradas</a>
  </div>
{% endblock %}